@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  font-family: 'Aldrich', sans-serif;
  width: '100vw';
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  overflow-x: hidden;
  height: 100dvh;
  background-color: #ebf0f2;
}

/* LIGHT MODE */
body::-webkit-scrollbar{
  width: 6px;
  background-color: #ebf0f2;
}

body::-webkit-scrollbar-thumb{
  background-color: #5C6F73;
}

/* DARK MODE */
body::-webkit-scrollbar{
  width: 6px;
  background-color: #313e40;
}

body::-webkit-scrollbar-thumb{
  background-color: #ebf0f2;
}