@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  font-family: 'Aldrich', sans-serif;
  width: '100vw'
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100dvw;
  height: 100vdh;
  background-color: #ebf0f2;
}